/* CSS reset */
/* v2.0 | 20110126
  http://meyerweb.com/eric/tools/css/reset/ 
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Project 3*/
/* Links inside the navbar */
#nav {
    overflow: hidden;
    background-color: #B22222;
    top: 0;
    width:100%;
    margin-bottom: 10px;
}


#nav a {
    display: block;
    color: #FAF0E6;
    text-align: center;
    padding: 3px 10px;
	text-decoration:none;
    font:30px Impact, Charcoal, sans-serif;
}

#nav a:hover {
    background-color: #778899;
}

#nav ul {
    list-style-type:none;
    width: 400px;
    overflow: hidden;
	margin: 0px auto;
}

div {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
	padding: 20px;
}
   
h1 {
    text-align: center;
    font-weight: bold;
	font-size: 40px;
    font-family: 'Roboto', sans-serif;
	padding: 10px;
	background-color: #FFD700;
    }
	
h2 {
    text-align: center;
    font-weight: bold;
	font-size: 30px;
    font-family: 'Roboto', sans-serif;
	background-color: #FFD700;
	padding: 10px;
    }
	
h3 {
	text-align: center;
    font-size: 25px;
    font-style: italic;
    background-color: #FFB6C1;
	padding: 10px;
}

p {
    text-align: center;
    font-size: 22px;
	padding: 10px;
}

li {
    text-align: center;
    font-size: 18px;
	padding: 10px
}

footer {
    background-color: #AACCFF;
    float: left;
    width: 100%;
    height: 2.75em;
    bottom: 0;
    border-top: 0.15em solid blue;
    }
	

	
.img1{
	display: block;
    margin-left: auto;
    margin-right: auto;
	height: auto;
	padding: 20px;
}

.img2{
	display: block;
    margin-left: auto;
    margin-right: auto;
	height: auto;
	padding: 20px;
}

.vid {
  display: block;
  float:left;
  width: 500px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 30px;
}

.vid1 {
  display: block;
  float:right;
  width: 500px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 30px;
}

#div Home {
	padding: 40px;
}